@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700);
@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* ICON STYLES - ICON FROM: http://fontastic.me/ Found in codepen. Kept as is.
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
  font-family: "untitled-font-1";
  src:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.eot");
  src:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.eot#iefix") format("embedded-opentype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.woff") format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.ttf") format("truetype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:after,
[class*=" icon-"]:after {
  font-family: "untitled-font-1";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Usefull classes - might contain unused classes */
	.mx-auto {
		margin: auto;
		}
	.element-hidden {
		visibility: hidden;
		}		

	.bg-white {
		background-color: white;
		}
	.bg-gray {
		background-color: gray;
		}
	.width-controlled-square {
			width: auto;
			height: 0;
			padding-bottom: 100%;
	}
	.stretched-4x3-box {
		width: 100%;
		height: 0;
		margin: 0;
		padding: 0 0 75% 0;
	}
	.size-standard-4x3 {
		width: 288px;
		height: 216px;
	}
	.padding-1rem {
		padding: 1rem;
	}
		
/* Material design color palette - Intented as a record to store colors. Used on some elements also */
	.primary-text-color {
		color: #212121;
		}
	.secondary-text-color {
		color: #757575;
		}
	.primary-dark-bg-color {
		background-color: #455A64;
		}
	.primary-light-bg-color {
		background-color: #CFD8DC;
		}
	.accent-bg-color {
		background-color: #00BCD4;
		}
	.primary-color-bg {
		background-color: #607D8B;
		}
	.divider-color {
		background-color: #BDBDBD;
		}
	.text-color-light {
		color: white;
		}
/* Material design font guidelines */
	.html-font-material-design {
		font-size: 62.5%;
		font-family: Roboto, Arial, sans-serif;
	}
	.font-h1 {
		font-size: 9.6rem;
		font-weight: 200;
		letter-spacing: -.15em;
	}
	.font-h2 {
		font-size: 6.0rem;
		font-weight: 200;
		letter-spacing: -.05em;
	}
	.font-h3 {
		font-size: 4.8rem;
		font-weight: 400;
		letter-spacing: 0rem;
	}
	.font-h4 {
		font-size: 3.4rem;
		font-weight: 400;
		letter-spacing: 0.25em;
	}
	.font-h5 {
		font-size: 2.4rem;
		font-weight: 400;
		letter-spacing: 0rem;
	}
	.font-h6 {
		font-size: 2.0rem;
		font-weight: 500;
		letter-spacing: .015rem;
	}
	.font-sub-1 {/* Subtitle font */
		font-size: 1.6rem;
		font-weight: 400;
		letter-spacing: .015rem;	
	}
	.font-sub-2 {
		font-size: 2.0rem;
		font-weight: 500;
		letter-spacing: .01rem;
	}
	.font-body-1 {
		font-size: 1.6rem;
		font-weight: 400;
		letter-spacing: .05rem;
	}
	.font-body-2 {
		font-size: 1.4rem;
		font-weight: 400;
		letter-spacing: .025em;	
	}
	.font-button {
		font-size: 1.4rem;
		font-weight: 500;
		letter-spacing: .125em;		
		text-transform: uppercase;
	}
	.font-caption {
		font-size: 1.2rem;
		font-weight: 400;
		letter-spacing: .04rem;		
	}
	.font-overline {
		font-size: 1.0rem;
		font-weight: 400;
		letter-spacing: .15rem;
		text-transform: uppercase;
	}
/* General styling */
	h1, h2, h3, h4, h5, h6 {
		margin: 0 auto;
		font-family: 'Roboto', Arial, sans-serif;
		font-weight: bold;
		}

	html {
		font-size: 72%; /* Root element font size is set. All other font is sized in rem units */
	}
	
	html, body, #fullpage {
		height: 100%;
		margin: 0;
		letter-spacing: .1em !important;
		}
		
	* {
		margin: 0;
		padding: 0;
		font-family: 'Roboto', Arial, sans-serif;
	}

	nav ul li a {
		color: #455A64;
		text-decoration: none;
	}

	ul, li {
		list-style-type: none;
	}

/* Header styling */
	.header-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: rgba(255, 255, 255, 0.3);
		height: 50px;
		padding: 0 10px;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 12;
		box-sizing: border-box;
		background-color: #455A64;
		}
	#section-title {
		color: #455A64;
	}

	.toggle-menu {
		width: 50px;
		height: 50px;
		display: inline-block;
		position: relative;
		top: 0px;
		cursor: pointer;
	}

	.toggle-menu i {
		position: absolute;
		display: block;
		height: 2px;
		background: #eeeeee;
		width: 30px;
		left: 10px;
		transition: all .3s;
	}

	.toggle-menu i:nth-child(1) {
		top: 16px;
	}

	.toggle-menu i:nth-child(2) {
		top: 24px;
	}

	.toggle-menu i:nth-child(3) {
		top: 32px;
	}

	.open-menu i:nth-child(1) {
		top: 25px;
		-webkit-transform: rotateZ(45deg);
						transform: rotateZ(45deg);
	}

/* Navigation styling */
	#collapse-nav {
		max-height: calc(100vh - 50px);
		overflow: auto;
		display: none;
		box-sizing: border-box;
		background: white;
		position: fixed;
		top: 50px;
		width: 100%;
		padding: 80px 0;
		z-index: 15;
	}
	
	.header-nav-container {
		position: absolute;
		top: 0;
		right: 0;
		transition: display .3s;
	}
	.header-nav-container.hide {
		display: none;
	}
	#header-nav {
		height: 50px;
		position: relative;
		margin-right: 0;
	}
	#header-nav #menu li a {
		font-size: 16px;
		line-height: 50px;
		padding: 0 1rem;
		color: #eeeeee;
	}

	nav ul {
		padding: 0;
		display: flex;
	}

	nav li {
		flex: 1;
	}

	nav li a {
		font-size: 1.8rem;
		display: block;
		padding: 30px;
		text-align: center;
		transition: background .3s;
		line-height: 1.8rem;
	}
	#collapse-nav li a {
		transition: border .2s
	}
	#collapse-nav li a:hover {
		border-bottom: 3px solid #00BCD4;
	}

	#collapse-nav li a.active {
		background: #00BCD4;
		color: white;
	}
	#header-nav #menu li a.active {
		background-color: #eeeeee;
		color: #455A64;
	}
	#menu li a {
		padding: .5em;
	}

	.open-menu i:nth-child(2) {
		background: transparent;
	}

	.open-menu i:nth-child(3) {
		top: 25px;
		-webkit-transform: rotateZ(-45deg);
						transform: rotateZ(-45deg);
	}
		
/* Design overlay styling */
	#design-overlay {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 2;
		pointer-events: none;
		}
	.over-design-overlay {/* To display section in front of overlay */
		z-index: 3;
	}
	.under-design-overlay {/* Display section begind overlay */
		z-index: 1;
	}
	
	.design-element {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		}
	.top-design-element {
		width: 100%;
		height: auto;
		top: 50px;
		}
	.right-design-element {
		height: 100%;
		width: auto;
		right: 0;
		top: 0;
		}
	.bottom-design-element {
		width: 100%;
		height: auto;
		bottom: 0;
		}
	.left-design-element {
		height: 100%;
		width: auto;
		left: 0;
		top: 0;
		}
	.test-prop { /* used as placeholder for theme shapes */
		width: 50px;
		height: 50px;
		background-color: #54C9FF;
		}
		
/* Sections and child items styling 
-----------------------------------*/
	section {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		position: relative;
	}
	/* General section contents styling */
		.central-elements-wrapper {
			position: relative;
			margin: auto;
			box-sizing: border-box;
			top: 0;
			padding: 0 1em;
		}
		/* Gap that equals header height. used as a padding for sections */
		.gap-50px {
			padding: 0;
			height: 50px;
			margin: 0;
		}
		
		.section-content-title {
			padding-bottom: .5em;
			display: block;
			text-align: center;
		}
		.section-content-text {
			display: block;
			text-align: justify;
			width: 100%;
		}
		
		/* Logo section styling */
		.cyan-gradient {
			background-image: linear-gradient(to top left, #00AAFF, #00FFD4);
		}
		
		/* People's tiles styling */	
		.people-card {
			border-radius: 3px;
			overflow: hidden;
			max-width: 288px;
			}	

		/* FAQ and related styling */
		#faq-questions-div {
			display: table-cell;
			
			}
		.faq-question {
			text-decoration: none;
			color: white;
			display: block;
			padding: .2em 0;
			cursor: pointer;
			}
		.faq-question:hover {
			color: black;
			background-color: white;
			}
		/* Found outside fullpage container */
			#faq-overlay {
				position: fixed;
				top: 0;
				left: 0;
				display: block;
				height: 100%;
				width: 100%;
				box-sizing: border-box;
				padding-top: 50px;
				z-index: 3;			
				transition: background .3s;
				}
			.faq-overlay {
				pointer-events: none;
			}
				
			.faq-overlay-dim {
				display: block !important;
				background: rgba(0,0,0,.8);
				pointer-events: auto !important;
			}
			#faq-answer-div {
				padding: 1.5em;
				background-color: white;
				position: absolute;
				box-sizing: border-box;
				pointer-events: auto;
				display: none;
				overflow: auto;
				}
				
			.faq-answer-sublist {
				font-size: 1.8rem;
			}
		/* Social links and icons styling */
			.social-icons-row {
				width: 100%;
				height: auto;
				justify-content: center;
				display: flex;
				align-items: center;
			}	
			.social-link {
				display:inline-block;
				width:40px;
				height:40px;
				font-size:20px;
				padding:10px;
				margin:5px;
				background-color: #607D8B;
				transition: background-color .3s;
				text-align:center;
				border-radius:100%;
				text-decoration:none;
				color: #ffffff;
				box-sizing: border-box;
			}
			.social-link:hover {
				background-color:#fff;
				text-decoration:none;
				color: #00BCD4;
			}
			.social-link i{
				vertical-align:center;
			}
/* Responsive design styling - Standard mobile first mediaqueries */
	@media (min-width: 0px) {
		.header-nav-container {
			display: none;
		}
		#section-title {
			letter-spacing: 0;
			}
		.hide-phone {
			display: none;
			}
		.hide-desktop-flex {
			display: flex;
	}
	@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
		.central-elements-wrapper {
			width: 320px;
			}
		.left-logo {
			display: none;
			margin: 0;
			}
		.right-menu-button {
			margin: 0;
			}
		#design-overlay, #fp-nav{
			visibility: hidden;
			}
		#faq-answer-div {
			bottom: 0;
			right: 0;
			height: auto;
			width: 100%;
			max-height: calc(100vh - 50px);
			}
	}
	@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
		#section-title {
			letter-spacing: .18em;
			padding-left: 1em;
			}
	.central-elements-wrapper {
			width: 481px;
			}
	}
	@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
		.header-nav-container {
			display: grid;
		}
		.toggle-menu {
			display: none;
		}	
		.central-elements-wrapper {
			width: 641px;
			}
		.central-elements-wrapper-small {
			width: 641px !important;
		}
		.hide-phone {
			display: block;
			}
	}
	@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
		#section-title {
			padding-left: 0;
			}
		.central-elements-wrapper {
			width: 961px;
		}
		.central-elements-wrapper-small {
			width: 641px !important;
		}
		#design-overlay, #fp-nav {
			visibility: visible;
		}
	}
	@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
		.left-logo {
			display: grid;
			}
		#header-nav #menu li a:hover {
			background-color: #eeeeee;
			color: #455A64;
		}
		.central-elements-wrapper {
			width: 1025px;
			}
		.central-elements-wrapper-small {
			width: 800px !important;
		}
		#faq-answer-div {
			right: 50px;
			bottom: 50px;
			height: auto;
			max-height: calc(100vh - 150px);
			width: 550px;
			}
		.hide-desktop-flex {
			display: none;
		}
	}
	@media (min-width:1281px) { /* hi-res laptops and desktops */ 
		.central-elements-wrapper {
			width: 1281px;
		}
	}
/* End of mobile first mediaqueries */

/* This is part of code found in codepen for the navigation bar. Kept as it is,
	It does not belong to mobile first mediaqueries group */
	@media screen and (max-width: 767px) {
		nav ul {
			flex-direction: column;
		}

		nav li {
			margin-top: 1px;
		}
		
		.scroll-icon {
			display: none;
		}
	}

	@media screen and (max-width: 400px) {
		nav {
			padding: 20px 0;
		}

		nav li a {
			padding: 3px;
		}
	}